@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the SecureAppQA Website!</p>
<p>This website showcases various security features to protect agaist OWASP Top 10 security vulnerabilities.</p>
