@page
@model AuthorizeModel
@{
    ViewData["Title"] = "Authorize Page";
}
<h1>@ViewData["Title"]</h1>

<p>To access this page you must be logged in with a confirmed account.</p>

<p>No role requirements are in place for this page just authorization.</p>
